<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easylife"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/easylifelog"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".HomePage"
            android:label="@string/homepage_title" >
            <intent-filter>
                <action android:name="com.example.easylife.homepage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
         <activity
            android:name=".NewBill"
            android:label="ADD" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.easylife.add" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Report"
            android:label="REPORT" >
            <intent-filter>
                <action android:name="com.example.easylife.report" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
   
        
        <activity
            android:name=".Confirm"
            android:label="CONFIRM" >
            <intent-filter>
                <action android:name="com.example.easylife.confirm" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

       
        <activity
            android:name=".Bill_info"
            android:label="BILL_INFO" >
            <intent-filter>
                <action android:name="com.example.easylife.bill_info" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Map"
                  android:label="Map">
            <intent-filter>
                <action android:name="com.example.easylife.map" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>
	<uses-permission android:name="android.permission.INTERNET"/>



</manifest>